[submodule "levman"]
	path = levman
	url = https://github.com/mcroitor/levman_tex
[submodule "first_level"]
	path = first_level
	url = https://github.com/mcroitor/first_level_tex
[submodule "champs_md"]
	path = champs_md
	url = https://github.com/mcroitor/champs_md_tex
[submodule "3authors"]
	path = 3authors
	url = https://github.com/mcroitor/3authors_tex
