.__lxG__double {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0 !important;
}

.__lxG__double.__lxG__vertical {
    flex-direction: column;
    align-items: center;
}

.__lxG__double > div {
    margin: 0 10px 10px;
}

.__lxG__double > div:last-of-type {
    margin-bottom: 0;
}

.__lxG__double.__lxG__vertical.__lx_sticky_pos_empty {
    display: inline-flex;
}